@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #F6F6F6;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #00875F;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: #F6F6F6;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .header-navigation-link {
    @apply text-sm text-gray-6 px-6 py-1 hover:bg-gray-6 hover:text-green-700 transition-colors grid place-items-center border-gray-6 min-w-36
  }
}